{% extends 'aquasite/partials/base.html' %}

{% block title %}AQUA | Conta{% endblock %}

{% block body-content %}
{% include 'aquasite/partials/dashboard-navbar.html' %}

  <div class="container mt-5">
    <div class="account-container pt-4">
      <div class="account-content d-flex gap-4">
        <div class="left-content w-50 d-flex flex-column justify-content-center align-items-center gap-4">
          <div class="picture">
            <img src="../../../static/aquasite/images/gray.jpg" class="img-thumbnail d-block" alt="..." style="width: 300px; height: 300px; border-radius: 50%;">
            <div class="mt-3 d-flex justify-content-center align-items-center">
              <a href="">Trocar foto de perfil</a>
            </div>
          </div>

          <div class="name">
            <p class="display-4">{{name}}</p>
          </div>
        </div>

        <div class="right-content d-flex flex-column gap-4 w-100">
          <div class="card">
            <div class="row g-0">
              <div class="col-4">
                <div class="card-body border-end h-100">
                  <h5 class="card-title">Informações da conta</h5>
                  <p class="card-text"><small>Todas as informações da sua conta.</small></p>
                </div>
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class="d-flex flex-column gap-2">
                    <div class="input-group">
                      <span class="input-group-text">Nome</span>
                      <input type="text" class="form-control" placeholder="Nome" value="{{name}}">
                      <input type="text" class="form-control" placeholder="Sobrenome">
                    </div>
                    
                    <div class="input-group">
                      <span class="input-group-text">Email</span>
                      <input type="text" class="form-control" value="{{email}}" disabled>
                    </div>
                    
                    <div class="input-group mb-3">
                      <span class="input-group-text">Módulos</span>
                      <input type="text" class="form-control" value="{{modules}}" disabled>
                    </div>
                  </div>

                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary float-end">Salvar alterações</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}