{% extends 'aquasite/partials/dashboard-base.html' %}

{% block title %}AQUA | Conta{% endblock %}

{% block body-content %}
  <section id="account" class="h-100">
    <div class="container p-4 h-100">
      <div class="d-flex gap-4 h-100">
        <div class="left-content d-flex flex-column gap-4 w-100 h-100">
          <div class="card">
            <div class="row g-0">
              <div class="col-4">
                <div class="card-body border-end h-100">
                  <h5 class="card-title">Informações da conta</h5>
                  <p class="card-text"><small>Todas as informações da sua conta.</small></p>
                </div>
              </div>
              <div class="col-8">
                <div class="card-body">
                  <div class="d-flex flex-column gap-2">
                    <div class="input-group">
                      <span class="input-group-text">Nome</span>
                      <input type="text" class="form-control" placeholder="Nome" value="{{name}}" disabled>
                    </div>
                    
                    <div class="input-group">
                      <span class="input-group-text">Email</span>
                      <input type="text" class="form-control" value="{{email}}" disabled>
                    </div>
                    
                    <div class="input-group mb-3">
                      <span class="input-group-text">Módulos</span>
                      <input type="text" class="form-control" value="{{modules}}" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right-content w-50 d-flex flex-column justify-content-center align-items-center gap-4 h-100">
          <div class="card h-100">
            <div class="card-body d-flex flex-column align-items-center gap-4 h-100">
              <div class="picture">
                <img src="{{profilePicUrl}}" class="img-thumbnail d-block" id="profile-pic" alt="..." style="width: 300px; height: 300px; border-radius: 50%; object-fit: cover;">
              </div>

              <form id="form" class="d-flex flex-column justify-content-center align-items-center gap-3" action="{% url 'save-profile-pic' %}" method="post">
                {% csrf_token %}
                <input type="file" id="file-input" name="profile-pic" accept="image/*" style="display: none;" data-profile-pic-url="">
                <button class="btn btn-link" id="upload-btn">Escolher foto de perfil</button>
                <input type="submit" class="btn btn-outline-primary" value="Salvar foto"></input>
              </form>
    
              <div class="name">
                <p class="display-4">{{name}}</p>
              </div
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    const form = document.getElementById('form')
    const fileInput = document.getElementById('file-input')
    const uploadBtn = document.getElementById('upload-btn')
    const profilePic = document.getElementById('profile-pic')

    let imageURL = ''

    uploadBtn.addEventListener('click', (e) => {
      e.preventDefault()
      fileInput.click()
    })

    fileInput.addEventListener('change', (event) => {
      const file = event.target.files[0]
      if (file) {
        const reader = new FileReader()
        reader.onload = (e) => {
          imageURL = e.target.result
          fileInput.dataset.profilePicUrl = imageURL
          profilePic.src = reader.result
        }
      reader.readAsDataURL(file)
      }
    })

    form.addEventListener('submit', (event) => {
      const inputElement = document.querySelector('input[name="profile-pic"]');
      const customValue = inputElement.getAttribute('data-profile-pic-url');

      const hiddenInput = document.createElement('input');
      hiddenInput.type = 'hidden';
      hiddenInput.name = 'profile-pic-url';
      hiddenInput.value = customValue;
      form.appendChild(hiddenInput);
    })

  </script>
{% endblock %}
