{% extends 'aquasite/partials/base.html' %}

{% block title %}AQUA | Painel{% endblock %}

{% block body-content %}
{% include 'aquasite/partials/dashboard-navbar.html' %}
  <section id="models" class="h-100">
    <div class="container mt-5 w-100 h-100">
      <div class="models-container w-100 h-100">
        <div class="models-content d-flex flex-wrap align-items-center gap-4">
            {% for moduleId in modulesId %}
              <a href="{% url 'module' moduleId=moduleId %}">
                <button type="button" class="btn border" style="width: 306px; height: 306px;">
                  <p class="mb-2">ID do Módulo:</p>
                  <span>{{moduleId}}</span>
                </button>
              </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}