{% extends 'aquasite/partials/dashboard-base.html' %}

{% block title %}AQUA | Painel{% endblock %}

{% block body-content %}
  <section id="models">
    <div class="container">
      <div class="models-container pt-4">
        <div class="models-content d-flex flex-wrap align-items-center gap-4">
          {% for module_id, module in modules %}
            {% include 'aquasite/partials/module-card.html' %}
          {% endfor %}
        </div>      
      </div>
    </div>
  </section>
{% endblock %}