{% extends 'aquasite/partials/base.html' %}

{% block title %}AQUA | Painel{% endblock %}

{% block body-content %}
{% include 'aquasite/partials/dashboard-navbar.html' %}
  <section id="models" class="h-100">
    <div class="container mt-5 w-100 h-100">
      <div class="models-container w-100 h-100">
        <div class="models-content d-flex flex-column gap-4">
          <div class="row" style="min-height: 250px;">
            {% for module in modules %}
              <div class="col-3">
                <button type="button" class="btn border w-100 h-100">
                  <p class="mb-2">ID do Módulo:</p>
                  <span>{{module}}</span> 
                </button>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}