{% extends 'aquasite/partials/base.html' %}

{% block title %}AQUA | Módulo {{moduleId}}{% endblock %}

{% block body-content %}
{% include 'aquasite/partials/dashboard-navbar.html' %}
  <section id="module" data-module-id="{{moduleId}}">
    <div class="container mt-5">
      <div class="breadcramp">
        <nav class="pt-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Painel</a></li>
            <li class="breadcrumb-item active" aria-current="page">Módulo</li>
          </ol>
        </nav>
      </div>

      <section id="overview">
        <div id="overview-title" class="d-flex align-items-center gap-3 mb-4">
          <i class="fa-solid fa-chart-simple" style="font-size: 36px; color: #1a5fb4;"></i>
          <h1 class="display-5"><strong>visão geral da qualidade da água</strong></h1>
          <i class="fa-solid fa-circle" style="font-size: 8px;"></i>
          <h2 class="display-6 m-0">{{moduleName}}</h2>
        </div>

        <div id="overview-layout" class="d-flex flex-column gap-4">
          <div class="row">
            <div class="col-5">
              <h5 class="text-center w-100" style="letter-spacing: 24px;">Nível de PH</h5>
              <style>
                .ph-bar {
                  opacity: 25%;
                }
                .module-ph-level {
                  opacity: 100%;
                }
              </style>
              <div id="overview-ph-scale" class="d-flex gap-2">
                {% for phBar in phBars %}
                  {% include 'aquasite/partials/ph-bar.html' %}
                {% endfor %}
              </div>
            </div>
  
            <div class="col-7">
              <div class="card">
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam ipsum velit deserunt nesciunt fugiat at ratione iste vitae hic eum magnam facere temporibus sint exercitationem beatae, a, soluta necessitatibus.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quam ipsum velit deserunt nesciunt fugiat at ratione iste vitae hic eum magnam facere temporibus sint exercitationem beatae, a, soluta necessitatibus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="row mt-5">
        <div class="chart-container col" style="width: 30vw;">
          <canvas id="temperature-chart"></canvas>
        </div>

        <div class="chart-container col" style="width: 30vw;">
          <canvas id="level-chart"></canvas>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script defer>
    const temperatureChartCanvas = document.getElementById('temperature-chart');
    let temperatureChartData = {
      type: 'line',
      data: {
        labels: ['', '', '', '', ''],
        datasets: [{
          label: 'Temperatura da água',
          data: [20, 20, 20, 20, 20],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            min: 0,
            max: 100,
          }
        },
      }
    }
    let temperatureChart = new Chart(temperatureChartCanvas, temperatureChartData)

    const levelChartCanvas = document.getElementById('level-chart');
    let levelChartData = {
      type: 'bar',
      data: {
        labels: ['', '', '', '', ''],
        datasets: [{
          label: 'Nível da água',
          data: [20, 20, 20, 20, 20],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            min: 0,
            max: 50,
          }
        },
      }
    }
    let levelChart = new Chart(levelChartCanvas, levelChartData)


    const moduleId = document.getElementById('module').getAttribute('data-module-id')
    let moduleSocket = new WebSocket(
      'ws://' +
      window.location.host +
      '/dashboard/module/' +
      moduleId +
      '/'
    )
    moduleSocket.onmessage = (e) => {
      const djangoData = JSON.parse(e.data)
      console.log(djangoData)

      let ph = Math.round(djangoData.ph)
      const phScale = document.getElementById('overview-ph-scale').children
      for (let i = 0; i < phScale.length; i++) {
        if (phScale[i].id == 'ph-level-' + ph) {
          for (let j = 0; j < phScale.length; j++) {
            phScale[j].children[0].classList.remove('module-ph-level')
            phScale[j].children[1].style.fontWeight = 'normal'
          }
          console.log(phScale[i].children)
          phScale[i].children[0].classList.add('module-ph-level')
          phScale[i].children[1].style.fontWeight = 'bold'
        }
      }

      let newTemperatureChartData = temperatureChartData.data.datasets[0].data
      newTemperatureChartData.shift()
      newTemperatureChartData.push(djangoData.temperature)
      temperatureChartData.data.datasets[0].data = newTemperatureChartData
      temperatureChart.update()

      let newLevelChartData = levelChartData.data.datasets[0].data
      newLevelChartData.shift()
      newLevelChartData.push(djangoData.level)
      levelChartData.data.datasets[0].data = newLevelChartData
      levelChart.update()
    }
  </script>
{% endblock %}