{% extends 'aquasite/partials/dashboard-base.html' %}

{% block title %}AQUA | Módulo - {{moduleName}}{% endblock %}

{% block extra-head-content %}
  <script type="module" src="../../../static/aquasite/module/js/module-ws.js" defer></script>
{% endblock %}

{% block body-content %}
<section id="module" class="w-100 h-100" data-module-id="{{moduleId}}">
  <div class="container-fluid p-4 h-100 w-100">
      <div class="d-flex gap-3 w-100 h-100">
        <div class="d-flex flex-column gap-3 h-100" style="width: 30%;">
          <div class="border rounded w-100 h-100 p-3">
            <p>qualidade geral</p>
          </div>
          <div class="border rounded w-100 h-100 p-3">
            <p>problemas</p>
          </div>
        </div>

        <div class="d-flex flex-column gap-3 h-100" style="width: 60%;">
          <div class="d-flex gap-3 w-100 h-100">
            <div class="border rounded w-100 h-100 p-3">
              <p>gráfico</p>
            </div>
            <div class="border rounded w-100 h-100 p-3">
              <p>turbidez</p>
            </div>
          </div>

          <div class="d-flex gap-3 w-100 h-100">
            <div class="border rounded w-100 h-100 p-3">
              <p>gráfico</p>
            </div>
            <div class="border rounded w-100 h-100 p-3">
              <p>nível da água</p>
            </div>
          </div>

          <div class="d-flex flex-column gap-3 w-100 h-100">
            <div class="border rounded w-100 h-100 p-3">
              <p>escala de ph</p>
            </div>
          </div>
        </div>

        <div class="d-flex flex-column gap-3 h-100" style="width: 10%;">
          <div class="d-flex flex-column gap-3 w-100 h-100">
            <div class="border rounded-pill w-100 h-100 p-3">
              <p>temperatura</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock body-content %}