{% extends 'aquasite/partials/dashboard-base.html' %}

{% block title %}AQUA | Relatórios{% endblock %}

{% block body-content %}
  <section id="reports">
    <div class="container pt-4">
      <div class="reports-container">
        <div class="reports-content d-flex gap-4">  
          <div class="reports w-100">
                   
            
            
          </div>

          <div class="filters w-25">
            <ul class="list-group">
              <li class="list-group-item">Filtros</li>
              <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
                <label class="form-check-label" for="firstRadio">Todos os relatórios</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}