<nav class="navbar bg-body-tertiary fixed-top" style="height: 48px;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: #000000;"></i>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Painel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account' %}">Conta</a>
          </li>
        </ul>
        <div class="mt-3">
          <p class="mb-2">Temas:</p>
          <div class="d-flex gap-2">
            <input type="radio" class="btn-check" name="options-outlined" id="primary-outlined" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="primary-outlined" onclick="setLightMode()">Claro</label>
    
            <input type="radio" class="btn-check" name="options-outlined" id="secondary-outlined" autocomplete="off">
            <label class="btn btn-outline-secondary" for="secondary-outlined" onclick="setDarkMode()">Escuro</label>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <img src="../../../static/aquasite/images/gray.jpg" class="img-fluid" alt="..." style="width: 32px; height: 32px; border-radius: 50%;">
    </div> 
  </div>
</nav>